/* ==========================================================================
   Master Layout Styles
   ========================================================================== */

html {
  --font-primary: "HelveticaNeue-Light", helvetica, arial, sans-serif;
  --font-headers: "HelveticaNeue-Bold", helvetica, arial, sans-serif;


  --ratio: 1.125; /* Major Second */
  --size-xxxxxlarge: calc( var(--size-xxxxlarge) * var(--ratio));
  --size-xxxxlarge: calc( var(--size-xxxlarge) * var(--ratio) );
  --size-xxxlarge: calc( var(--size-xlarge) * var(--ratio) * var(--ratio) );
  --size-xlarge: calc( var(--size-large) * var(--ratio) );
  --size-large: calc( 1rem * var(--ratio) );
  --size-small: calc( 1rem * ( var(--ratio) / 2) );
  --size-xsmall: calc( 1rem * ( var(--ratio)/ 3) );
}

body {
	margin: 0 auto;
}

main {
  text-align: center;
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto;
}

/* ==========================================================================
   Colors
   ========================================================================== */

  html {
    --color-text: #545454;
    --color-text-light: #ffffff;
    --color-text-disabled: #989898;
    --color-primary: #eb8b47;
    --color-accent1: #ffd574;
    --color-accent2: #fafafa;   
  }

/* ==========================================================================
 Help Box
 ========================================================================== */

.help-box a {
  display: none;
}
/* ==========================================================================
   Typography
   ========================================================================== */

html {
  color: var(--color-text);
	font-family: var(--font-primary);
}

svg text {
  fill: var(--color-text);
}
  
h1 {
  color: var(--color-primary);
  font-size: var(--size-xxxxxlarge);
}

h2 {
  font-size: var(--size-xxxlarge);
  margin-top: 3rem;
}

h3 {
  font-size: var(--size-large);
  margin-top: 2rem; 
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h5 {
  font-size: var(--size-small);
  font-weight: bold;
}

h6 {
  font-size: var(--size-xsmall);
  font-weight: bold;
}

p {
  line-height: 1.25rem;
}

a {
 	color: var(--color-primary);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}
p a:active {
  color: var(--color-accent2);
}
p a:visited {
  color: var(--color-accent1);
}

ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

ul li {
  list-style-position: outside;
}

main ul li:before {
  content: "– ";
  color: var(--color-primary);
}

main ul ul li:before {
  content: "\2192  ";
  color: var(--color-primary);
}

main ol ol{
    list-style-type: lower-roman;
}

text {
    color: var(--color-text);
}

dl {
  font-weight: bold;
}

dd {
  font-weight: normal;
  font-style: italic;
  margin-top: .5rem;
  margin-left: -.5rem;
}

  /* Examples */

  .featured-text {
    font-style: italic;
  }
  .light {
    margin-left: 1rem;
  }
  .light-italic {
    font-style: italic;
    margin-left: 1rem;
  }

  .bold {
    font-family: var(--font-headers);
    font-weight: 700;
    margin-left: 1rem;
  }

  .bold-italic {
    font-family: var(--font-headers);
    font-weight: 700;
    font-style: italic;
    margin-left: 1rem;
  }
  
  .tertiary-text {
    font-size: var(--size-small);
  }

  /* End Examples */

  figure {
    background-color: var(--color-accent2);
    box-shadow: .25rem .25rem var(--color-text-disabled);
    padding: 1rem 2rem 1rem;
  }

  blockquote {
    font-family: var(--font-primary);
    font-style: italic;
    position: relative;
  }

  blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -3.5rem;
    top: -1rem;
    color: var(--color-primary);
  }

  cite {
    color: var(--color-primary);
    display: block;
    margin-top: 5px;
    text-align: right;
    margin-right: 50px;
  }

  cite:before {
    content: "\2014 \2009";
  }

/* ==========================================================================
   Header Component
   ========================================================================== */

header {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: 2rem;
  text-align: center;
}

header li a:hover {
  border-bottom: 2px solid var(--color-text-light);
  text-decoration: none;
}

.logo {
  color: var(--color-color-primary);
  font-size: var(--size-xxxxxlarge);
  font-weight: bold;
  background-color: var(--color-text-light);
  letter-spacing: .1rem;
  padding: .5rem 1rem;
  display: inline-block;
  -webkit-text-stroke: .85px var(--color-primary);
}

.site-header ul {
  list-style-type: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
}

.site-header li {
  display: block;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.site-header li a {
  color: var(--color-text-light);
  font-weight: bold;
  text-decoration: none;
  padding-bottom: .25rem;
}

.current-page {
  border-bottom: 2px solid var(--color-text-light);
}

 /* ==========================================================================
   Footer Component
   ========================================================================== */

footer {
   background-color: var(--color-primary);
   color: var(--color-white);
   padding: 2rem;
   text-align: center;
   margin-top: 5rem;
 }

footer a {
  color: var(--color-text-light);
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  color: var(--color-text-light);
  max-width: 45rem;
  margin: 1rem auto;
}

.social-links a {
  color: var(--color-text-light);
  text-decoration: none;
}

.social-links ul {
  list-style-type: none;
}

.social-links li {
  display: inline;
  margin-right: 2rem;
}

/* ==========================================================================
 Buttons
 ========================================================================== */

.button {
  font-size: var(--size-large);
  display: inline-block;
  padding: .5rem;
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text-light);
  background-color: var(--color-accent1);
  box-shadow: .25rem .25rem var(--color-text-disabled);
  border: none;
  cursor: pointer;
}

.button:hover {
  transition: .5s;
  color: var(--color-accent1);
  background-color: var(--color-text-light);
  text-decoration: none;
}

.button:active {
  color: var(--color-text-light);
  background-color: var(--color-accent2);
  transform: translateX(1rem) translateY(1rem);
}

.button:focus {
  color: var(--color-textDark);
}

.hero-button {
  font-size: var(--size-xxxlarge);
  padding: 1rem;
  color: var(--color-text-light);
  background-color: var(--color-primary);
}

.hero-button:hover {
  transition: .5s;
  color: var(--color-primary);
  background-color: var(--color-text-light);
}

.hero-button:active {
  color: var(--color-text-light);
  background-color: var(--color-accent2);
  transform: translateX(1rem) translateY(1rem);
}

.hero-button:focus {
  color: var(--color-textDark);
}

.small-button {
  font-size: var(--size-small);
  padding: .25rem;
  color: var(--color-primary);
}

.small-button:hover {
  transition: .5s;
  color: var(--color-accent1);
  border: none;
  background-color: var(--color-primary);
}

.small-button:active {
  color: var(--color-text-light);
  background-color: var(--color-accent2);
  border: none;
}

.small-button:focus {
  color: var(--color-textDark);
}

/* ==========================================================================
  Accordian Component
  ========================================================================== */

summary {
  font-size: var(--size-large);
  font-weight: bold;
  margin-bottom: .25rem;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  background: var(--color-primary); 
  content: "+"; 
  color: #fff; 
  float: left; 
  font-size: var(--size-xxlarge); 
  font-weight: bold; 
  margin: 0 10px;
  padding-bottom: 3px;
  text-align: center; 
  width: 25px;
}

details[open] summary:after {
  background: var(--color-primary); 
  content: "-"; 
}

.inside-accordion {
  color: var(--color-text-light);
  background-color: var(--color-primary);
  box-shadow: .25rem .25rem var(--color-text-disabled);
  padding: 1rem;
  margin: .5rem 0;
}

/* ==========================================================================
  Examples
  ========================================================================== */

.swatch-box {
  text-align: center;
}

.color-swatch-outline {
  stroke: var(--color-text-disabled);
}

/* ==========================================================================
   Modal Dialogs
  ========================================================================== */

dialog {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-text-light);
  box-shadow: .5rem .5rem var(--color-text-disabled);
  }

dialog::backdrop {
  background-color: rgba(255, 213, 116, .5);
}

dialog h4 {
  margin: 2rem;
}

dialog p {
  margin: 2rem;
}

dialog .button {
  float: right;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

dialog[open] {
    animation: show 1s ease normal;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ==========================================================================
   Form Inputs
  ========================================================================== */

form {
  display: block-flex;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
    display: block;
    margin: .5rem 0 1.5rem;
    padding: .5rem 1rem;
    width: 100%;
    box-sizing: border-box;
    background: #eee;
}

input, textarea {
    border: none;
    outline: none;
}

textarea {
    min-height: 120px;
}

textarea::placeholder {
  color: var(--color-light-text);
  font-weight: lighter;
}

form p {
  font-weight: bold;
  margin: 1rem 0 .5rem;
}

label[for="last-name"] {
  margin-top: 1.25rem;
  display: block;
}

label[for="email"] {
  margin-top: 1.5rem;
  display: block;
}

label[for="phone-number"] {
  margin-top: 1.5rem;
  display: block;
}

label[for="dropdown"] {
  margin-top: 1.5rem;
  margin-bottom: -.5rem;
  display: block;
}

label[for="comments"] {
  margin-top: 1.5rem;
  display: block;
}

input:focus,
textarea:focus {
  background: var(--color-accent1);
  color: var(--color-dark-text);
  box-shadow: .25rem .25rem var(--color-text-disabled);
}

textarea:disabled {
  color: var(--color-accent2);
  background-color: var(--color-text-disabled);
  cursor: not-allowed;
}

select {
  width: 10rem;
  margin-top: 1rem;
  padding: .5rem;
  color: var(--color-text-light);
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0;
  background-position: top 50% right 5%;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAMFBMVEUAAAD///////////////////////////////////////////////////////////87TQQwAAAAD3RSTlMAAQITHB4rf5Wjrevt7/leIZE9AAAAM0lEQVQIW2NgAINsAwbWKwzzDzPEfWfQ+mP6vpGBaf29HwIMDFr/G4HSTCuATAYGMIEAAMG5DAL6BIZpAAAAAElFTkSuQmCC);
}

select:focus {
  box-shadow: .25rem .25rem var(--color-text-disabled);
}

input[type="submit"] {
  flex-wrap: column;
}

input::placeholder {
  color: var(--color-light-text);
  font-weight: lighter;
}

.form-hint {
  margin-top: -1.5rem;
  color: var(--color-primary);
}

input[type="tel"] {
  width: 9rem; 
  padding: .5rem;
  margin-top: .5rem;
  display: block;
}

input.error {
  background-color: lightcoral; 
  border-color: crimson;
}

/* ==========================================================================
   Navigation
  ========================================================================== */
.nav-example {
  font-weight: bold;
}

.nav-example > li {
  list-style: none;
  color: var(--color-light-text);
}

.nav-example a {
  color: var(--color-text-light);
  text-decoration: none;
}

.nav-example a:hover {
  background-color: var(--color-accent1);
  padding: 1rem;
  text-decoration: none;
  border-bottom: none;
}

.nav-example ul li:before {
  content: none;
}

/* Horizontal Menu */

.primary-nav-example {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-primary);
  padding: 2rem;
}

.primary-nav-example > li:nth-child(3):after {
  content: '';
  border: 4px solid transparent;
  border-top: 4px solid white;
  display: inline-block;
  vertical-align: bottom;
}

/* Vertical Menu */

.secondary-nav-example {
  list-style: none;
  display: block;
  text-align: center;
  padding-left: 0;
}

.secondary-nav-example > li {
  background-color: var(--color-primary);
  padding: 1rem;
}

.secondary-nav-example ol {
  padding-left: 0px;
}

.secondary-nav-example > li:nth-child(3):after {
  content: '';
  border: 4px solid transparent;
  border-top: 4px solid white;
  display: inline-block;
  vertical-align: bottom;
}

.dropdown-container {
  position: relative;
  color: var(--color-light-text);
}

.dropdown-container .dropdown-menu {
  display: none;
  list-style: none;
  width: auto;
  padding-top: 1rem;
  padding-bottom: 0;
  text-decoration: none;
}

.dropdown-container:hover .dropdown-menu {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
}

.dropdown-container:hover .dropdown-menu li {
  padding: 1rem;
}

/* ==========================================================================
   Notifications
  ========================================================================== */

  .notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2rem;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    box-shadow: .25rem .25rem var(--color-text-disabled);
  }
  
  .notification.error {
    background-color: lightcoral;
  }

  .notification.warning {
    background-color: var(--color-accent1);
    color: var(--color-text);
  }

   .notification.neutral {
    background-color: var(--color-primary);
  }

   .notification.success {
    background-color: green;
  }

  .notification .button {
    background-color: var(--color-text-light);
    color: var(--color-text);
    margin-top: 1rem;
  }

  .svg-inline--fa {
    width: 1.5rem;
    margin-bottom: 1rem;
  }

/* ==========================================================================
   Hero Block
  ========================================================================== */

  .hero-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .hero-block-main {
    background-color: blue;
    background-image: url("../images/tools.jpg");
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-block-main h2 {
    margin: 0;
    padding: 1rem;
    color: var(--color-text-light);
    background-color: var(--color-primary);
  }

  .hero-block-side {
    color: var(--color-text-light);
    display: flex;
    flex: 30%;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 1rem;
  }

  .hero-block-side h3 {
    margin: 0;
  }

/* ==========================================================================
   Cards
  ========================================================================== */

.card {
  background-color: var(--color-text-light);
  box-shadow: .25rem .25rem var(--color-text-disabled);
  display: flex;
  flex-direction: column;
}

.post-container {
  background-image: url("../images/carpentry-history.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.tag {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: 1rem;

}
.side-container {
  padding: 1rem;
}

.side-container a {
  float: right;
}

.cta-container {
  background-image: url("../images/workbench.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}



/* ==========================================================================
   Media Queries
  ========================================================================== */  
@media (min-width: 320px) {


}

@media ( min-width: 768px ) {

/* Place styles for screens smaller than 1200px but bigger than 768px */
  html {
    --ratio: 1.25;
  }

  .help-box a {
    display: block;
    color: white;
    background-color: var(--color-accent1);
    font-size: 1rem;
    font-weight: bold;  
    width: 5%;
    padding: .5rem;
    text-align: center;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    box-shadow: .25rem .25rem var(--color-text-disabled);
  }

  header {
    text-align: left;
  }

  .site-header ul {
    list-style-type: none;
    padding-left: 0rem;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .site-header li {
    display: inline;
    margin-right: 2rem;
  }

  .site-header li a {
    padding-bottom: .5rem;
  }

  main {
    text-align: left;
    padding: .5rem;
    max-width: 40rem;
    margin: 0 auto;
  }

  h1 {
    color: var(--color-primary);
    font-size: var(--size-xxxxxlarge);
    line-height: 4rem;
    margin-top: 4rem;
  }

  h2 {
    margin-top: 4rem;
  }

  h3 {
    margin-top: 3rem;
  }

  main ul {
    padding-left: 0rem;
  }

  dd {
    margin-left: 1rem;
  }
  
  .notification-container {
    display: flex;
    flex-direction: column;
  }

  .notification {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .notification.error {
    background-color: lightcoral;
  }

  .notification.warning {
    background-color: var(--color-accent1);
    color: var(--color-text);
  }

   .notification.neutral {
    background-color: var(--color-primary);
  }

   .notification.success {
    background-color: green;
  }

  .notification .button {
    background-color: var(--color-text-light);
    color: var(--color-text);
    margin-top: 0;

  }

  .svg-inline--fa {
    width: 1.5rem;
    margin-bottom: 0;
  }

  .hero-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
  }

  .hero-block-main {
    background-color: blue;
    background-image: url("https://drcorriel.com/wp-content/uploads/2016/05/tools.jpg");
    display: flex;
    height: auto;
    flex: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero-block-main h2 {
    margin: 0;
    padding: 1rem;
    color: var(--color-text-light);
    background-color: var(--color-primary);
  }

  .hero-block-side {
    color: var(--color-text-light);
    display: flex;
    flex: 30%;
    flex-direction: column;
    background-color: var(--color-primary);
    padding: 1rem;
  }

  .hero-block-side h3 {
    margin: 0;
  }

}

@media ( min-width: 1200px ) {

/* Place Styles for screens larger than 1200px */

}
